[Desktop Entry]
Name=OpenMortal
Comment=Parody of the popular game, Mortal Kombat
Comment[pl]=Parodia popularnej gry, Mortal Kombat
Icon=openmortal
Exec=openmortal
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
